body {
    block-size: fit-content;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url('files/background.png');
    background-size: 25%;
    overflow: hidden;
}

.game{
    background-image: url('files/puzzleback.jpg');


}
#sidenav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: rgba(203, 220, 207, 0.85);
    overflow-x:hidden;
    transition:0.2s;
    padding-top:1vmin;
}

#opener{
    cursor: pointer;
    position:fixed;
    top:0;
    left:0;
    height:5vmin;
    width:5vmin;
    background-image: url('files/menu.png');
    background-size: 100%;
}

.navitems{
    font-size:5vmin;
    color: #31b2da;
    font-family: 'Lucida Sans';
    text-shadow: 0.1vmin 0.1vmin black;
    text-align: center;
    margin-top: 0.5vmin;
    background-image: url("files/savecell.jpg");
    

}
.puzzleimages{
    background-color: white;
    
}

.puzzleimages img{
    display: block; 
    mix-blend-mode: multiply;
}

.navitems:hover{
    color:#f1f1f1;
}


.mysidenav .closebtn {
    position:relative;
    top: 0;
    left: 60vmin;
    font-size: 5vmin;
    color:black;
}


.gamedeets{
    width:50vmin;
    height:25vmin;
    font-size: 8vmin;
    text-decoration-color: brown;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'puzzle';
    border-radius: 1vmin;
}

#puzzle{
    width: 50vmin;
    height: 50vmin;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    user-select: none;
    background-size: 100%;
   
    
}



.puzzle-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.puzzle-number {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: 'puzzle' ;
    src: url(files/puzzle.ttf);
}

.buttons {
    display: flex;
    height:15vmin;
    width:50vmin;
    background-size: auto;
    border-radius: 3vmin;
}

.selectgrid{
    display: flex;
    align-items: center;
    justify-content: center;
    height:9vmin;
    width:50vmin;
}
#gridinput{
    font-size: 2vmin;
    width: 30vmin;
    height:3vmin
}

button {
    cursor: pointer;
    background-color: transparent;
    width: 12.5vmin;
    height: 7vmin;
    margin-top: 5vmin;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 1vmin 2vmin;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3)
    
    
}

button:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

.puzzlenumberbackground {
    background-image: url('files/background.png');
  }


#uploadLabel {
    cursor: pointer;
    display: inline-block;
    width: 12.5vmin;
    height: 5vmin;
    margin-top: 5vmin;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('files/photo.png');
    padding: 1vmin 2vmin;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3)
}

#uploadLabel:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

  
#imageInput {
    display: none;
}

#linkInput{
    cursor: pointer;
    display: inline-block;
    width: 10vmin;
    height: 6.8vmin;
    margin-top: 5vmin;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('files/link.png');
    font-size: 16px;
    transition: width 0.3s, height 0.3s;
    
}


#linkInput:focus {
    width: 25vmin; 
    height: 7vmin; 
    font-size: 3vmin;
    background-image: none;

}


#enter{
    cursor: pointer;
    background-color: transparent;
    width: 5vmin;
    height: 5vmin;
    position: relative;
    top: -2vmin;
    left: 2vmin;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-image: url('files/enter.png');
}

@media screen  and (orientation:portrait){
    .gamedeets{
        width:100%;
        height:25vmax;
        font-size:7vmax;
        text-align: center;
        
    }
    #puzzle{
        margin:0 auto;
        width:40vmax;
        height: 40vmax;
        border:0.01vmax solid black;
    }
    .buttons{
        height:14vmax;
        width:100%;
    }
    .selectgrid{
        height:15vmax;
        width:100%
    }
    #gridinput{
        width: 60%;
        height:4.5vmax;
        font-size:3vmax;
    }
    button{
        width:25%;
        height:10vmax;
        margin-top:2.5vmax;
    }
    #uploadLabel{
        margin-left:5%;
        margin-right: 5%;
        width:25%;
        height: 9vmax;
        margin-top: 2vmax;
    }
    #linkInput{
        margin-left:5%;
        margin-right: 5%;
        width:20%;
        height:5vmax;
        margin-top:5vmax;
        
    }
    #imageInput{
        height:10vmax;
        margin-top: 2vmax;
    }
    #linkInput:focus{
        width:50%;
        font-size:4vmax;
    }
    #enter{
        width:15%;
        height:30%;
    }
    #pleaserandom{
        margin-left: 5%;
        width: 25%;
        margin-right:5%;
    }
    /* #pleasesolve{
        margin-left: 5%;
        width:25%;
        margin-right:5%;
    } */
    #opener{
        height:5vmax;
        width:5vmax;
    }
    .mysidenav .closebtn {
       font-size: 5vmax;
    }

}