body {
    block-size: fit-content;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url('files/background.png');
    background-size: 25%;
    overflow: hidden;
}

.gamedeets{
    width:50vmin;
    height:25vmin;
    font-size: 8vmin;
    text-decoration-color: brown;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'puzzle';
    background-image: url('files/puzzleback.jpg');
}

#puzzle{
    width: 50vmin;
    height: 50vmin;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    user-select: none;
    border:0.01vmin solid black;
    background-size: 100%;
    
}

.puzzle-cell {
    position: relative;
    overflow: hidden;
    
}

.puzzle-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
}


.puzzle-number {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


@font-face {
    font-family: 'puzzle' ;
    src: url(files/puzzle.ttf);
}

.buttons {
    display: flex;
    height:15vmin;
    width:50vmin;
    background-size: 100%;
    background-image: url('files/puzzleback.jpg');
}

.selectgrid{
    display: flex;
    align-items: center;
    justify-content: center;
    height:7vmin;
    width:50vmin;
    background-image: url('files/puzzleback.jpg');
}
#gridinput{
    font-size: 2vmin;
    width: 30vmin;
    height:3vmin
}

button {
    cursor: pointer;
    background-color: transparent;
    width: 12.5vmin;
    height: 7vmin;
    margin-top: 5vmin;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.puzzlenumberbackground {
    background-image: url('files/background.png');
  }


#uploadLabel {
    cursor: pointer;
    display: inline-block;
    width: 12.5vmin;
    height: 7vmin;
    margin-top: 5vmin;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('files/photo.png');
}

  
#imageInput {
    display: none;
}

#linkInput{
    cursor: pointer;
    display: inline-block;
    width: 12.5vmin;
    height: 7vmin;
    margin-top: 5vmin;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('files/link.png');
    font-size: 16px;
    transition: width 0.3s, height 0.3s;
}


#linkInput:focus {
    width: 25vmin; 
    height: 7vmin; 

    font-size: 3vmin;
    background-image: none;
}


#enter{
    cursor: pointer;
    background-color: transparent;
    width: 5vmin;
    height: 5vmin;
    position: relative;
    top: -2vmin;
    left: 2vmin;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-image: url('files/enter.png');
}

@media screen  and (orientation:portrait){
    .gamedeets{
        width:100%;
        height:25vmax;
        font-size:7vmax;
        text-align: center;
        overflow:auto;
    }
    #puzzle{
        margin:0 auto;
        width:40vmax;
        height: 40vmax;
        border:0.01vmax solid black;
    }
    .buttons{
        height:10vmax;
        width:100%;
    }
    .selectgrid{
        height:15vmax;
        width:100%
    }
    #gridinput{
        width: 60%;
        height:4.5vmax;
        font-size:3vmax;
    }
    button{
        width:25%;
        height:10vmax;
        margin-top:2.5vmax;
    }
    #uploadLabel{
        margin-left:5%;
        margin-right: 5%;
        width:15%;
        height: 10vmax;
        margin-top:2.5vmax;
    }
    #linkInput{
        margin-left:5%;
        margin-right: 5%;
        width:15%;
        height:10vmax;
        margin-top:2.5vmax;
    }
    #linkInput:focus{
        width:50%;
        font-size:4vmax;
    }
    #enter{
        width:15%;
        height:30%;
    }
    #pleaserandom{
        margin-left: 5%;
        width: 15%;
        margin-right:5%;
    }
    #pleasesolve{
        margin-left: 5%;
        width:15%;
        margin-right:5%;
    }
}